.detalle-container {
  display: flex;
  gap: 32px;
  padding: 32px;
}

/* POSTER */
.detalle-poster img {
  width: 300px;
  border-radius: 8px;
}

/* INFO */
.detalle-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detalle-header h1 {
  font-size: 32px;
}

.detalle-header h2 {
  color: var(--color-primario);
}

/* SECCIONES */
.detalle-seccion {
  background-color: var(--color-card);
  padding: 16px;
  border-radius: 8px;
}

/* PUNTUACION */
.detalle-puntuacion {
  font-size: 24px;
  color: gold;
}


/* 📱 MEDIA QUERY (OBLIGATORIO) */
@media (max-width: 768px) {
  .detalle-container {
    flex-direction: column;
    align-items: center;
  }

  .detalle-poster img {
    width: 100%;
  }

  .detalle-info {
    width: 100%;
  }
}